RewriteEngine On

# Si el archivo o carpeta existe físicamente, sirvelo directo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige todo al router
RewriteRule ^ routes/api.php [QSA,L]